 /* google fonts and family 'work sans' */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

 body {
    font-family: 'Work Sans', sans-serif;
 }
.main-container {
    background-color: rgba(255, 144, 14, 0.10);

}
 .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .nav-container h1 {
    padding-left: 120px;
 }
 .nav-items {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-right: 120px;
 }
 nav > li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
 }
 .banner {
    text-align: center;
    width: 85%;
    margin: 65px auto 0 auto;
 }
 .description {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    color: #727272;
    font-weight: 400;
 }
.banner-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
    margin: 50px 0 45px 0;
}

.btn-primary {
    width: 140px;
    height: 50px;
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    border: none;
    
}
main {
    width: 85%;
    margin: 0 auto;
}
.quick-container {
    display: flex;
    padding: 55px;
    gap: 76px;
    align-items: center;
}
.quick-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}
.quick-img img {
    width: 250px;
    height: 250px;
}
.quick-contents p {
    color: #727272;
    font-weight: 400;
}













 /* responsive for small devices */
 @media screen and (max-width:576px) {
    .nav-container, .nav-items {
        flex-direction: column;
    }
    .nav-container h1 {
        padding-left: 12px;
    }
    .nav-items{
        padding-right: 0;
    }
 }
